NEXT_PUBLIC_SUPABASE_URL=https://cdsidecrjucrvjbnzeaf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
NOBLE_INTERNAL_API_KEY=bdBekXUN_La5sig47zg3pWPdvFj4bXCmX
NEXT_PUBLIC_BASE_URL=https://www.minibeteiligung.de
